<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">
    <servlet>
        <servlet-name>LoggerServlet</servlet-name>
        <servlet-class>c302slsbLifecycleExample.servlet.LoggerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoggerServlet</servlet-name>
        <url-pattern>/LoggerServlet</url-pattern>
    </servlet-mapping>

    <ejb-ref>
        <ejb-ref-name>ejb/Logger</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>c302slsbLifecycleExample.model.stateless.Logger</remote>
    </ejb-ref>


    <servlet>
        <servlet-name>HelloServiceServlet</servlet-name>
        <servlet-class>c303slsbRemoteExample.servlet.HelloServiceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloServiceServlet</servlet-name>
        <url-pattern>/HelloServiceServlet</url-pattern>
    </servlet-mapping>

    <ejb-ref>
        <ejb-ref-name>ejb/HelloService</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>c303slsbRemoteExample.model.stateless.HelloServiceRemote</remote>
    </ejb-ref>

</web-app>
